*{
	margin: 0;
	border: 0;
}
body{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #eee;
}
.title{
	height: 23px;
	background-color: #ddd;
	font-size: 20px;
	padding: 5px;
	text-align: center;
}
.return{
	float: left;
	font-size: 18px;
	margin-left: 5px;
}
#userinfo{
	margin-bottom: 10px;
}
#userinfo form{
	width: 90%;
	margin: 0 auto;
	height: auto;
}
#userinfo ul{
	width: 100%;
	padding: 0;
}
#userinfo ul li{
	text-align: center;
	min-height: 24px;
	list-style: none;
	margin-top: 5px;
}
.item{
	display: inline-block;
	width: 110px;
	font-size: 16px;
	text-align: right;
	padding: 5px;
}
#userinfo ul input{
	width: 200px;
	height: 18px;
	font-size: 14px;
	border: 1px solid #bbb;
	border-radius: 5px;
}
#userinfo ul select{
	width: 200px;
	height: 22px;
	font-size: 16px;
	border: 1px solid #bbb;
	border-radius: 5px;
}
.note{
	height: auto !important;
}
#note{
	width: 200px;
	height: 40px;
	font-size: 14px;
	border: 1px solid #bbb;
	border-radius: 5px;
}
#submit{
	font-size: 18px;
	background-color: #ddd;
	padding: 5px;
	color: #333;
	border: 2px solid #bbb;
	border-radius: 5px;
	cursor: pointer;
}
.notice{
	font-size: 12px;
	color: red;
}
#electric{
	padding: 10px 0px;
}
#electric ul{
	width: 90%;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
#electric ul li{
	display: inline-block;
	min-width: 45%;
	font-size: 16px;
	padding: 3px;
	border: 1px solid #aaa;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 5px;
	text-align: left;
}
#electric ul li span{
	display: inline-block;
	margin-right: 5px;
}
.add{
	display: inline-block;
	margin: 0 5px;
	font-size: 18px;
	padding: 3px;
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

.delW,.modifyW{
	float: right;
	margin-left: 5px;
	color: red;
}
.delE,.modifyE{
	float: right;
	margin-left: 5px;
	color: red;
}
#water{
	padding: 10px 0px;
}
#water ul{
	width: 90%;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}
#water ul li{
	display: inline-block;
	min-width: 45%;
	font-size: 16px;
	padding: 3px;
	border: 1px solid #aaa;
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 5px;
	text-align: left;
}
#water ul li span{
	display: inline-block;
	margin-right: 5px;
}
#ebox{
	opacity: 0;
	z-index: -10;
	position: fixed;
	width: 560px;
	height: 400px;
	margin: auto auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ddd;
	border: 3px solid #1D9BDC;
	border-radius: 3px;
	padding-top: 20px;
	transition: 0.7s;
}
#ebox p{
	height: 30px;
	text-align: center;
	margin-top: 10px;
}
#ebox input{
	width: 230px;
	height: 24px;
	border: 2px solid #1D9BDC;
	font-size: 18px;
}
#ebox span{
	padding: 3px 5px;
	color: #1D9BDC;
	border: 2px solid #1D9BDC;
	border-radius: 3px;
	transition: 0.3s;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	margin-left: 10px;
}
#ebox span:hover{
	background-color: #1D9BDC;
	color: #eee;
}
#wbox{
	opacity: 0;
	z-index: -10;
	position: fixed;
	width: 560px;
	height: 400px;
	margin: auto auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ddd;
	border: 3px solid #1D9BDC;
	border-radius: 3px;
	padding-top: 20px;
	transition: 0.7s;
}
#wbox p{
	height: 30px;
	text-align: center;
	margin-top: 10px;
}
#wbox input{
	width: 230px;
	height: 24px;
	border: 2px solid #1D9BDC;
	font-size: 18px;
}
#wbox span{
	padding: 3px 5px;
	color: #1D9BDC;
	border: 2px solid #1D9BDC;
	border-radius: 3px;
	transition: 0.3s;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	margin-left: 10px;
}
#wbox span:hover{
	background-color: #1D9BDC;
	color: #eee;
}